# This workflow runs for every pull request to lint and test the proposed changes.

name: Check

on:
    pull_request:

    # Push to master will trigger code checks
    push:
        branches:
            - master
        tags-ignore:
            - '**' # Ignore all tags to prevent duplicate builds when tags are pushed.

    # Release flow will trigger checks manually
    workflow_call:

jobs:
    build_and_test:
        name: Build & Test
        if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                node-version: [18, 20, 22, 24]

        steps:
            - name: Cancel Workflow Action
              uses: styfle/cancel-workflow-action@0.13.0
              with:
                  access_token: ${{ github.token }}

            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'npm'
                  cache-dependency-path: 'package-lock.json'

            - name: Install Dependencies
              run: npm ci

            - name: Run Tests
              run: npm test

    test_bundling:
        name: Test bundler support
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Use Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: 'npm'
                  cache-dependency-path: 'package-lock.json'

            - name: Install Dependencies
              run: npm ci

            - name: Run Tests
              run: npm run test:bundling

    lint:
        name: Lint
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: 'npm'
                  cache-dependency-path: 'package-lock.json'
            - name: Install Dependencies
              run: npm ci
            - run: npm run lint
            - name: Prettier
              run: npm run format:check

    docs:
        name: Docs build
        if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Source code
              uses: actions/checkout@v6

            - name: Use Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: 'npm'
                  cache-dependency-path: 'package-lock.json'
            - name: Install Dependencies
              run: npm ci

            - name: Install & build & deploy docs
              run: |
                  npm ci --force
                  cd website
                  npm ci --force
                  npm run lint
                  npm run build
