# This workflow runs for every pull request to lint and test the proposed changes.

name: Check

on:
    pull_request:

jobs:
    # NPM install is done in a separate job and cached to speed up the following jobs.
    build_and_test:
        name: Build & Test
        if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [16, 18]

        steps:
            -
                uses: actions/checkout@v3
            -
                name: Use Node.js ${{ matrix.node-version }}
                uses: actions/setup-node@v3
                with:
                    node-version: ${{ matrix.node-version }}
            -
                name: Cache Node Modules
                if: ${{ matrix.node-version == 16 }}
                uses: actions/cache@v3
                with:
                    path: |
                        node_modules
                        build
                    key: cache-${{ github.run_id }}-v16
            -
                name: Install Dependencies
                run: npm install
            -
                name: Run Tests
                run: npm test

    lint:
        name: Lint
        needs: [build_and_test]
        runs-on: ubuntu-latest

        steps:
            -
                uses: actions/checkout@v3
            -
                name: Use Node.js 16
                uses: actions/setup-node@v3
                with:
                    node-version: 16
            -
                name: Load Cache
                uses: actions/cache@v3
                with:
                    path: |
                        node_modules
                        build
                    key: cache-${{ github.run_id }}-v16
            -
                run: npm run lint

    docs:
        name: Docs build
        if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout Source code
                uses: actions/checkout@v3

            -   name: Use Node.js 16
                uses: actions/setup-node@v3
                with:
                    node-version: 16
                    cache: 'npm'
                    cache-dependency-path: 'package-lock.json'

            -   name: Install & build & deploy docs
                run: |
                    npm ci --force
                    cd website
                    npm ci --force
                    npm run lint
                    npm run build
