name: docs

on:
    push:
        branches:
            - master
    workflow_dispatch:

jobs:
    build:
        if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
        environment:
            name: github-pages
        permissions:
            contents: write
            pages: write
            id-token: write
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
                with:
                    token: ${{ secrets.APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN }}

            -   name: Use Node.js 16
                uses: actions/setup-node@v2-beta
                with:
                    node-version: 16
                    cache: npm
                    cache-dependency-path: website/package-lock.json

            -   name: Set git identity
                run: |
                    git config user.name 'GitHub Actions'
                    git config user.email 'github-actions[bot]@users.noreply.github.com'

            -   name: Install Node.js dependencies
                run: |
                    npm install
                    cd website
                    npm install
                    npm update @apify/docs-theme

            # We do this as early as possible to prevent conflicts if someone else would push something in the meantime
            -   name: Commit the updated package.json and lockfile
                run: |
                    git config user.name 'GitHub Actions'
                    git config user.email 'github-actions[bot]@users.noreply.github.com'
                    git add website/package.json
                    git add website/package-lock.json
                    git diff-index --quiet HEAD || git commit -m 'chore: Automatic theme updating workflow [skip ci]' || true
                    git push

            -   name: Build Docusaurus docs
                run: npm run build
                working-directory: ./website

            -   name: Set up GitHub Pages
                uses: actions/configure-pages@v4

            -   name: Upload GitHub Pages artifact
                uses: actions/upload-pages-artifact@v3
                with:
                    path: ./website/build

            -   name: Deploy artifact to GitHub Pages
                uses: actions/deploy-pages@v4

            -   name: Invalidate CloudFront cache
                run: gh workflow run invalidate.yaml --repo apify/apify-docs-private
                env:
                    GITHUB_TOKEN: ${{ secrets.APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN }}
